.contact h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top:10px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #c8a27a;
    border-radius: 5px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background: #00aacc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #8b623f;
}

